<div class="form">
    <form [formGroup]="form">
      <h6>Signup</h6>
      <div class="email">
        <input type="email" formControlName="email" id="email" placeholder="Email">
      </div>
  
      <div class="password">
        <input type="password" formControlName="password" id="password" placeholder="Password">
      </div>
  
      <div class="password">
        <input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
        <!-- Show error message if passwords do not match -->
        <div *ngIf="form.errors?.['mismatch']" class="error">
          Passwords do not match.
        </div>
      </div>
  
      <div class="submit">
        <button class="btn-signup" type="submit" (click)="signUp()">Sign Up</button>
      </div>
  
      <div class="forgot-password">
        <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
      </div>
  
      @if(message){
        <div class="message">
          <p [class.error]="isError" [class.success]="!isError">{{ message }}</p>
        </div>
      }
    </form>
  </div>
  