<nav>
  <h6 [routerLink]="['']">Q-Post</h6>
  <i class="fa-solid fa-right-from-bracket" style="color: #fcfcfd;" (click)="logout()"><span>logout</span></i>
</nav>

<div class="profile-container">
  <h2>Welcome, User</h2>
  <p>Email: {{ (user$ | async)?.email }}</p>
  <h3>Your Posts</h3>
  @if ((userPostsWithComments$ | async)?.length) {
    @for (post of userPostsWithComments$ | async; track post.id) {
      <div class="post-post">
        <div class="posts-card">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content | slice:0:100 }}</p>
          <div class="icons">
            <h6><i class="fa fa-comment-o" aria-hidden="true"></i> {{ post.commentCount }}</h6>
            <i class="fa-solid fa-heart" style="color: #FC4747;"></i>
            <i class="fa-solid fa-thumbs-up" style="color: #FFFF"></i>
            <i class="fa-solid fa-retweet" style="color: #ffffff;"></i>
            <i class="fa-solid fa-share" style="color: #f5f5f5;"></i>
          </div>
          <a [routerLink]="['/post', post.id]">Read More</a>
        </div>
      </div>
    }
  } @else {
    <div class="message">
      <p>You haven't created any posts yet.</p>
      <i class="fa-regular fa-face-frown-open fa-lg" style="color: #FC4747;"></i>
    </div>
  }
</div>